{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">
        <h3>Basic Альбомы</h3>
        <div class="row row-cols-1 row-cols-md-2">
            {% for post in posts %}
            <div class="col mb-4">
              <div class="card">
                <div class="view overlay">
                  <img class="card-img-top" src="{{post.image.url}}" alt="">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{post.title}}</h4>
                  <p class="card-text">{{post.description}}</p>
                  <a href="{% url 'detail' post.id %}" class="btn btn-primary btn-md">Read more</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <a class="btn btn-success" href="{% url 'create-post' %}">Создать пост</a>

          <h3 class="mt-5">Pro Альбомы</h3>
          <div class="row row-cols-1 row-cols-md-2">
            {% for prem in prems %}
            <div class="col mb-4">
              <div class="card">
                <div class="view overlay">
                  <img class="card-img-top" src="{{prem.image.url}}" alt="">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{prem.title}}</h4>
                  <p class="card-text">{{prem.description}}</p>
                  <a href="{% url 'premdet' prem.id %}" class="btn btn-primary btn-md">Read more</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <a class="btn btn-success" href="{% url 'createprem-post' %}">Создать пост</a>

          <h3 class="mt-5">VIP Альбомы</h3>
          <div class="row row-cols-1 row-cols-md-2">
            {% for vip in vips %}
            <div class="col mb-4">
              <div class="card">
                <div class="view overlay">
                  <img class="card-img-top" src="{{vip.image.url}}" alt="">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{vip.title}}</h4>
                  <p class="card-text">{{vip.description}}</p>
                  <a href="{% url 'vipdetail' vip.id %}" class="btn btn-primary btn-md">Read more</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
            <a class="btn btn-success" href="{% url 'createvip-post' %}">Создать пост</a>

        <h3 class="mt-5">FULL Альбомы</h3>
          <div class="row row-cols-1 row-cols-md-2">
            {% for full in fulls %}
            <div class="col mb-4">
              <div class="card">
                <div class="view overlay">
                  <img class="card-img-top" src="{{full.image.url}}" alt="">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{full.title}}</h4>
                  <p class="card-text">{{full.description}}</p>
                  <a href="{% url 'fulldetail' full.id %}" class="btn btn-primary btn-md">Read more</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
            <a class="btn btn-success" href="{% url 'createfull-post' %}">Создать пост</a>
    </div>

{% endblock %}